# IoT Planning

**Input**: data from telco's customers with demographic, services and account information.

**Output**: flask application with form to be filled with customer's information. The application should return with the prediction result if the customer will or will not churn in that month.

**Tasks**:
- data description
- end-to-end solution
- metrics definition
- data cleaning
- check the unbalency
- feature engineering
- eda
- data preparation
- feature selection
- ml models
- hyperparameters fine tuning
- deploy

# 0.0 Imports

In [21]:
from IPython.core.display      import HTML
from pycaret.classification import *

import matplotlib.pyplot as plt
import pandas            as pd
import seaborn           as sns

import inflection

## 0.1 Helper Functions

In [3]:
def jupyter_settings():
    %matplotlib inline
    %pylab inline
    
    plt.style.use('bmh')
    plt.rcParams['figure.figsize'] = [25, 12]
    plt.rcParams['font.size'] = 24
    
    display(HTML('<style>.container{width:100% !important; }</style>'))
    pd.options.display.max_columns = None
    pd.options.display.max_rows = None
    pd.set_option('display.expand_frame_repr', False)
    
    sns.set

jupyter_settings()

Populating the interactive namespace from numpy and matplotlib

## 0.2 Load Data

In [4]:
df_train = pd.read_csv('data/train.csv')
df_test = pd.read_csv('data/test.csv')

# 1.0 Data Description

In [5]:
df1 = df_train.copy()

## 1.1 Data Dimension

In [6]:
print('Number of rows: {}'.format(df1.shape[0]))
print('Number of columns: {}'.format(df1.shape[1]))

Number of rows: 5634
Number of columns: 21

## 1.2 Rename Columns

In [7]:
cols_old = ['id', 'gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
            'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
            'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
            'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
            'MonthlyCharges', 'TotalCharges', 'Churn']
snakecase = lambda x: inflection.underscore(x)
new_cols = list(map(snakecase, cols_old))
df1.columns = new_cols

In [45]:
cols_old = ['id', 'gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges']
snakecase = lambda x: inflection.underscore(x)
new_cols = list(map(snakecase, cols_old))
df_test.columns = new_cols

## 1.3 Data Types

In [8]:
df1.dtypes

id                     int64
gender                object
senior_citizen         int64
partner               object
dependents            object
tenure               float64
phone_service         object
multiple_lines        object
internet_service      object
online_security       object
online_backup         object
device_protection     object
tech_support          object
streaming_tv          object
streaming_movies      object
contract              object
paperless_billing     object
payment_method        object
monthly_charges      float64
total_charges         object
churn                  int64
dtype: object

## 1.4 Check N/A

In [9]:
df1.isna().sum()

id                     0
gender                 0
senior_citizen         0
partner                0
dependents           218
tenure               461
phone_service          0
multiple_lines         0
internet_service       0
online_security        0
online_backup          0
device_protection      0
tech_support           0
streaming_tv           0
streaming_movies       0
contract               0
paperless_billing      0
payment_method        99
monthly_charges        0
total_charges          0
churn                  0
dtype: int64

## 1.5 Drop N/A

In [27]:
df1 = df1.dropna()

## 1.6 Change Data Types

In [31]:
df1['total_charges'] = pd.to_numeric(df1['total_charges'], errors='coerce')

In [47]:
df_test['total_charges'] = pd.to_numeric(df_test['total_charges'], errors='coerce')

# Model

In [32]:
setup(data=df1, target='churn')

(False,
 False,
 -1,
 'box-cox',
 1319    0
 4689    1
 3122    0
 5626    0
 955     0
        ..
 621     0
 3116    0
 126     0
 4743    1
 3972    0
 Name: churn, Length: 3418, dtype: int64,
 None,
 10,
 <MLUsecase.CLASSIFICATION: 1>,
 {'USI',
  'X',
  'X_test',
  'X_train',
  '_all_metrics',
  '_all_models',
  '_all_models_internal',
  '_available_plots',
  '_gpu_n_jobs_param',
  '_internal_pipeline',
  '_ml_usecase',
  'create_model_container',
  'data_before_preprocess',
  'display_container',
  'exp_name_log',
  'experiment__',
  'fix_imbalance_method_param',
  'fix_imbalance_param',
  'fold_generator',
  'fold_groups_param',
  'fold_groups_param_full',
  'fold_param',
  'fold_shuffle_param',
  'gpu_param',
  'html_param',
  'imputation_classifier',
  'imputation_regressor',
  'iterative_imputation_iters_param',
  'log_plots_param',
  'logging_param',
  'master_model_container',
  'n_jobs_param',
  'prep_pipe',
  'pycaret_globals',
  'seed',
  'stratify_param',
  'target_param',
  'transform_target_method_param',
  'transform_target_param',
  'y',
  'y_test',
  'y_train'},
 True,
           id  tenure  monthly_charges  total_charges  gender_Male  senior_citizen_1  partner_No  dependents_Yes  multiple_lines_No  multiple_lines_No phone service  multiple_lines_Yes  internet_service_DSL  internet_service_Fiber optic  online_security_No  online_security_Yes  online_backup_No  online_backup_Yes  device_protection_No  device_protection_Yes  tech_support_No  tech_support_Yes  streaming_tv_No  streaming_tv_Yes  streaming_movies_No  streaming_movies_Yes  contract_Month-to-month  contract_One year  contract_Two year  paperless_billing_Yes  payment_method_Bank transfer (automatic)  payment_method_Credit card (automatic)  payment_method_Electronic check  payment_method_Mailed check
 2     6479.0    60.0       110.800003    6640.700195          0.0               0.0         0.0             0.0                0.0                              0.0                 1.0                   0.0                           1.0                 1.0                  0.0               0.0                1.0                   0.0                    1.0              0.0               1.0              0.0               1.0                  0.0                   1.0                      0.0                0.0                1.0                    1.0                                       0.0                                     1.0                              0.0                          0.0
 3     6861.0    37.0       101.900002    3545.350098          0.0               0.0         1.0             0.0                0.0                              0.0                 1.0                   0.0                           1.0                 1.0                  0.0               0.0                1.0                   0.0                    1.0              1.0               0.0              0.0               1.0                  0.0                   1.0                      1.0                0.0                0.0                    1.0                                       1.0                                     0.0                              0.0                          0.0
 4     3266.0    29.0        70.750000    1974.800049          1.0               0.0         0.0             1.0                1.0                              0.0                 0.0                   0.0                           1.0                 1.0                  0.0               1.0                0.0                   1.0                    0.0              1.0               0.0              1.0               0.0                  1.0                   0.0                      1.0                0.0                0.0                    1.0                                       0.0                                     0.0                              1.0                          0.0
 5     6368.0    70.0        48.400002    3442.800049          1.0               0.0         1.0             0.0                0.0                              1.0                 0.0                   1.0                           0.0                 0.0                  1.0               1.0                0.0                   0.0                    1.0              0.0               1.0              1.0               0.0                  0.0                   1.0                      0.0                0.0                1.0                    0.0                                       1.0                                     0.0                              0.0                          0.0
 6     5830.0    31.0        59.950001    1848.800049          1.0               0.0         0.0             1.0                0.0                              1.0                 0.0                   1.0                           0.0                 0.0                  1.0               1.0                0.0                   0.0                    1.0              0.0               1.0              0.0               1.0                  0.0                   1.0                      0.0                1.0                0.0                    0.0                                       0.0                                     0.0                              1.0                          0.0
 ...      ...     ...              ...            ...          ...               ...         ...             ...                ...                              ...                 ...                   ...                           ...                 ...                  ...               ...                ...                   ...                    ...              ...               ...              ...               ...                  ...                   ...                      ...                ...                ...                    ...                                       ...                                     ...                              ...                          ...
 5628   946.0     3.0        74.400002     215.800003          0.0               0.0         1.0             0.0                0.0                              0.0                 1.0                   0.0                           1.0                 1.0                  0.0               1.0                0.0                   1.0                    0.0              1.0               0.0              1.0               0.0                  1.0                   0.0                      1.0                0.0                0.0                    0.0                                       1.0                                     0.0                              0.0                          0.0
 5629  6684.0    43.0        44.150002    1931.300049          1.0               0.0         1.0             0.0                0.0                              1.0                 0.0                   1.0                           0.0                 1.0                  0.0               1.0                0.0                   0.0                    1.0              0.0               1.0              1.0               0.0                  0.0                   1.0                      0.0                1.0                0.0                    0.0                                       0.0                                     0.0                              1.0                          0.0
 5631  4803.0    28.0        54.650002    1517.500000          0.0               0.0         1.0             0.0                1.0                              0.0                 0.0                   1.0                           0.0                 1.0                  0.0               0.0                1.0                   1.0                    0.0              0.0               1.0              1.0               0.0                  1.0                   0.0                      1.0                0.0                0.0                    0.0                                       1.0                                     0.0                              0.0                          0.0
 5632  6317.0    63.0        25.250000    1573.050049          1.0               0.0         0.0             1.0                0.0                              0.0                 1.0                   0.0                           0.0                 0.0                  0.0               0.0                0.0                   0.0                    0.0              0.0               0.0              0.0               0.0                  0.0                   0.0                      0.0                0.0                1.0                    0.0                                       0.0                                     0.0                              0.0                          1.0
 5633   103.0    38.0        95.000000    3605.600098          1.0               0.0         1.0             0.0                0.0                              0.0                 1.0                   0.0                           1.0                 1.0                  0.0               1.0                0.0                   0.0                    1.0              0.0               1.0              0.0               1.0                  1.0                   0.0                      0.0                1.0                0.0                    0.0                                       1.0                                     0.0                              0.0                          0.0

 [4884 rows x 33 columns],
 {'lr': <pycaret.containers.models.classification.LogisticRegressionClassifierContainer at 0x24a5f32ebe0>,
  'knn': <pycaret.containers.models.classification.KNeighborsClassifierContainer at 0x24a5f32ed30>,
  'nb': <pycaret.containers.models.classification.GaussianNBClassifierContainer at 0x24a5f32ed90>,
  'dt': <pycaret.containers.models.classification.DecisionTreeClassifierContainer at 0x24a5f32ec10>,
  'svm': <pycaret.containers.models.classification.SGDClassifierContainer at 0x24a5f32ea90>,
  'rbfsvm': <pycaret.containers.models.classification.SVCClassifierContainer at 0x24a5f380250>,
  'gpc': <pycaret.containers.models.classification.GaussianProcessClassifierContainer at 0x24a5f380370>,
  'mlp': <pycaret.containers.models.classification.MLPClassifierContainer at 0x24a5f380430>,
  'ridge': <pycaret.containers.models.classification.RidgeClassifierContainer at 0x24a5f3806d0>,
  'rf': <pycaret.containers.models.classification.RandomForestClassifierContainer at 0x24a5f380850>,
  'qda': <pycaret.containers.models.classification.QuadraticDiscriminantAnalysisContainer at 0x24a5f380a30>,
  'ada': <pycaret.containers.models.classification.AdaBoostClassifierContainer at 0x24a5f380dc0>,
  'gbc': <pycaret.containers.models.classification.GradientBoostingClassifierContainer at 0x24a5f380f40>,
  'lda': <pycaret.containers.models.classification.LinearDiscriminantAnalysisContainer at 0x24a5f380fa0>,
  'et': <pycaret.containers.models.classification.ExtraTreesClassifierContainer at 0x24a5f337460>,
  'lightgbm': <pycaret.containers.models.classification.LGBMClassifierContainer at 0x24a5f337a00>,
  'dummy': <pycaret.containers.models.classification.DummyClassifierContainer at 0x24a5f337e20>,
  'Bagging': <pycaret.containers.models.classification.BaggingClassifierContainer at 0x24a5f3374c0>,
  'Stacking': <pycaret.containers.models.classification.StackingClassifierContainer at 0x24a5f3d8070>,
  'Voting': <pycaret.containers.models.classification.VotingClassifierContainer at 0x24a5f3d80a0>,
  'CalibratedCV': <pycaret.containers.models.classification.CalibratedClassifierCVContainer at 0x24a5f3d8100>},
 'churn',
           id  tenure  monthly_charges  total_charges  gender_Male  senior_citizen_1  partner_No  dependents_Yes  multiple_lines_No  multiple_lines_No phone service  multiple_lines_Yes  internet_service_DSL  internet_service_Fiber optic  online_security_No  online_security_Yes  online_backup_No  online_backup_Yes  device_protection_No  device_protection_Yes  tech_support_No  tech_support_Yes  streaming_tv_No  streaming_tv_Yes  streaming_movies_No  streaming_movies_Yes  contract_Month-to-month  contract_One year  contract_Two year  paperless_billing_Yes  payment_method_Bank transfer (automatic)  payment_method_Credit card (automatic)  payment_method_Electronic check  payment_method_Mailed check
 4869  5505.0    44.0        88.400002    3912.899902          1.0               1.0         0.0             0.0                0.0                              0.0                 1.0                   0.0                           1.0                 1.0                  0.0               0.0                1.0                   1.0                    0.0              1.0               0.0              1.0               0.0                  0.0                   1.0                      0.0                1.0                0.0                    0.0                                       0.0                                     0.0                              0.0                          1.0
 922   3321.0    18.0        59.099998    1011.049988          1.0               1.0         0.0             0.0                1.0                              0.0                 0.0                   1.0                           0.0                 0.0                  1.0               1.0                0.0                   1.0                    0.0              1.0               0.0              1.0               0.0                  0.0                   1.0                      1.0                0.0                0.0                    1.0                                       0.0                                     1.0                              0.0                          0.0
 2297  3440.0    72.0       104.150002    7689.950195          1.0               1.0         0.0             0.0                0.0                              0.0                 1.0                   0.0                           1.0                 1.0                  0.0               0.0                1.0                   0.0                    1.0              1.0               0.0              0.0               1.0                  0.0                   1.0                      0.0                0.0                1.0                    1.0                                       1.0                                     0.0                              0.0                          0.0
 2957   265.0    45.0       113.300003    5032.250000          0.0               0.0         0.0             0.0                0.0                              0.0                 1.0                   0.0                           1.0                 0.0                  1.0               0.0                1.0                   0.0                    1.0              0.0               1.0              0.0               1.0                  0.0                   1.0                      0.0                1.0                0.0                    0.0                                       0.0                                     0.0                              0.0                          1.0
 915   6996.0    57.0        89.550003    5012.350098          1.0               0.0         1.0             1.0                0.0                              0.0                 1.0                   1.0                           0.0                 0.0                  1.0               0.0                1.0                   0.0                    1.0              0.0               1.0              0.0               1.0                  0.0                   1.0                      0.0                0.0                1.0                    0.0                                       0.0                                     0.0                              0.0                          1.0
 ...      ...     ...              ...            ...          ...               ...         ...             ...                ...                              ...                 ...                   ...                           ...                 ...                  ...               ...                ...                   ...                    ...              ...               ...              ...               ...                  ...                   ...                      ...                ...                ...                    ...                                       ...                                     ...                              ...                          ...
 4035   799.0     1.0        20.000000      20.000000          0.0               0.0         0.0             1.0                1.0                              0.0                 0.0                   0.0                           0.0                 0.0                  0.0               0.0                0.0                   0.0                    0.0              0.0               0.0              0.0               0.0                  0.0                   0.0                      1.0                0.0                0.0                    0.0                                       0.0                                     0.0                              1.0                          0.0
 1377  4290.0    54.0        20.100000    1079.449951          0.0               0.0         1.0             0.0                1.0                              0.0                 0.0                   0.0                           0.0                 0.0                  0.0               0.0                0.0                   0.0                    0.0              0.0               0.0              0.0               0.0                  0.0                   0.0                      0.0                0.0                1.0                    0.0                                       0.0                                     0.0                              0.0                          1.0
 884   4120.0    35.0        19.150000     638.000000          1.0               0.0         1.0             0.0                1.0                              0.0                 0.0                   0.0                           0.0                 0.0                  0.0               0.0                0.0                   0.0                    0.0              0.0               0.0              0.0               0.0                  0.0                   0.0                      0.0                1.0                0.0                    1.0                                       0.0                                     0.0                              0.0                          1.0
 2431  1450.0     6.0        19.500000     106.800003          0.0               1.0         1.0             0.0                1.0                              0.0                 0.0                   0.0                           0.0                 0.0                  0.0               0.0                0.0                   0.0                    0.0              0.0               0.0              0.0               0.0                  0.0                   0.0                      1.0                0.0                0.0                    0.0                                       1.0                                     0.0                              0.0                          0.0

In [33]:
best_model = compare_models(n_select=5)

In [34]:
len(df1.loc[df1['churn']==0])/len(df1)

0.7391482391482391

In [39]:
t = tune_model(best_model[0])

In [40]:
final_model = finalize_model(t)

In [50]:
predict = predict_model(final_model, df_test)
predict

        id  gender  senior_citizen partner dependents  tenure phone_service    multiple_lines internet_service      online_security        online_backup    device_protection         tech_support         streaming_tv     streaming_movies        contract paperless_billing             payment_method  monthly_charges  total_charges  Label   Score
0     5027    Male               0     Yes        Yes    23.0           Yes                No               No  No internet service  No internet service  No internet service  No internet service  No internet service  No internet service        One year               Yes    Credit card (automatic)            20.00         445.30      0  0.9432
1     1733    Male               1     Yes        Yes    61.0           Yes               Yes      Fiber optic                   No                  Yes                   No                   No                  Yes                  Yes        One year                No                        NaN            99.00        5969.30      0  0.8168
2     5384    Male               0      No         No    36.0           Yes               Yes      Fiber optic                   No                   No                   No                   No                   No                  Yes  Month-to-month               Yes           Electronic check            84.75        3050.15      1  0.5262
3     6554  Female               0     Yes        Yes    61.0            No  No phone service              DSL                   No                  Yes                  Yes                  Yes                  Yes                  Yes        Two year               Yes  Bank transfer (automatic)            61.45        3751.15      0  0.9834
4      364  Female               0      No         No    47.0           Yes                No               No  No internet service  No internet service  No internet service  No internet service  No internet service  No internet service        Two year               Yes               Mailed check            20.55         945.70      0  0.9906
...    ...     ...             ...     ...        ...     ...           ...               ...              ...                  ...                  ...                  ...                  ...                  ...                  ...             ...               ...                        ...              ...            ...    ...     ...
1404  4897    Male               0      No        NaN    24.0           Yes                No              DSL                   No                   No                  Yes                   No                   No                   No  Month-to-month               Yes               Mailed check            49.70        1167.80      0  0.8923
1405  6940    Male               0      No         No    35.0           Yes                No      Fiber optic                  Yes                   No                   No                  Yes                   No                  Yes        One year               Yes           Electronic check            89.20        3251.30      0  0.8469
1406   804  Female               0     Yes         No    46.0           Yes                No              DSL                   No                  Yes                   No                  Yes                  Yes                   No        Two year               Yes    Credit card (automatic)            64.20        3009.50      0  0.9613
1407  1143    Male               1     Yes        Yes    11.0           Yes               Yes      Fiber optic                   No                   No                   No                   No                   No                   No  Month-to-month               Yes    Credit card (automatic)            75.20         775.30      1  0.6687
1408  5773    Male               0     Yes        Yes    69.0           Yes               Yes              DSL                   No                  Yes                  Yes                  Yes                  Yes                  Yes        Two year               Yes  Bank transfer (automatic)            81.95        5601.40      0  0.9783

[1409 rows x 22 columns]

In [53]:
len(predict.loc[predict['Label']==0])

1111

In [56]:
len(predict.loc[predict['Label']==1])

298