# IoT Planning

**Input**: data from telco's customers with demographic, services and account information.

**Output**: flask application with form to be filled with customer's information. The application should return with the prediction result if the customer will or will not churn in that month.

**Tasks**:
- data description
- end-to-end solution
- metrics definition
- data cleaning
- check the unbalency
- feature engineering
- eda
- data preparation
- feature selection
- ml models
- hyperparameters fine tuning
- deploy

# 0.0 Imports

In [27]:
from IPython.core.display      import HTML
from pycaret.classification    import *
from scikitplot                import metrics         as mt
from sklearn                   import model_selection as ms
from sklearn                   import preprocessing   as pp
from sklearn                   import metrics         as m
from keras                     import models          as ml
from keras                     import layers          as l

import matplotlib.pyplot as plt
import pandas            as pd
import seaborn           as sns
import numpy             as np

import inflection

## 0.1 Helper Functions

In [4]:
def jupyter_settings():
    %matplotlib inline
    %pylab inline
    
    plt.style.use('bmh')
    plt.rcParams['figure.figsize'] = [25, 12]
    plt.rcParams['font.size'] = 24
    
    display(HTML('<style>.container{width:100% !important; }</style>'))
    pd.options.display.max_columns = None
    pd.options.display.max_rows = None
    pd.set_option('display.expand_frame_repr', False)
    
    sns.set

jupyter_settings()

Populating the interactive namespace from numpy and matplotlib

## 0.2 Load Data

In [5]:
df_train = pd.read_csv('data/train.csv')
df_test = pd.read_csv('data/test.csv')

# 1.0 Data Description

In [6]:
df1 = df_train.copy()

## 1.1 Data Dimension

In [7]:
print('Number of rows: {}'.format(df1.shape[0]))
print('Number of columns: {}'.format(df1.shape[1]))

Number of rows: 5634
Number of columns: 21

## 1.2 Rename Columns

In [8]:
cols_old = ['id', 'gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
            'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
            'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
            'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
            'MonthlyCharges', 'TotalCharges', 'Churn']
snakecase = lambda x: inflection.underscore(x)
new_cols = list(map(snakecase, cols_old))
df1.columns = new_cols

In [9]:
cols_old = ['id', 'gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges']
snakecase = lambda x: inflection.underscore(x)
new_cols = list(map(snakecase, cols_old))
df_test.columns = new_cols

## 1.3 Data Types

In [10]:
df1.dtypes

id                     int64
gender                object
senior_citizen         int64
partner               object
dependents            object
tenure               float64
phone_service         object
multiple_lines        object
internet_service      object
online_security       object
online_backup         object
device_protection     object
tech_support          object
streaming_tv          object
streaming_movies      object
contract              object
paperless_billing     object
payment_method        object
monthly_charges      float64
total_charges         object
churn                  int64
dtype: object

## 1.4 Check N/A

In [11]:
df1.isna().sum()

id                     0
gender                 0
senior_citizen         0
partner                0
dependents           218
tenure               461
phone_service          0
multiple_lines         0
internet_service       0
online_security        0
online_backup          0
device_protection      0
tech_support           0
streaming_tv           0
streaming_movies       0
contract               0
paperless_billing      0
payment_method        99
monthly_charges        0
total_charges          0
churn                  0
dtype: int64

## 1.5 Check Balanced Data

In [12]:
df1['churn'].value_counts(normalize=True)

0    0.734647
1    0.265353
Name: churn, dtype: float64

## 1.5 Drop N/A

In [13]:
df1 = df1.dropna()

## 1.6 Change Data Types

In [14]:
df1['total_charges'] = pd.to_numeric(df1['total_charges'], errors='coerce')

In [15]:
df_test['total_charges'] = pd.to_numeric(df_test['total_charges'], errors='coerce')

# Model w/ Pycaret

In [16]:
setup(data=df1, target='churn')

(False,
 2       0
 3       1
 4       1
 5       0
 6       0
        ..
 5628    1
 5629    0
 5631    0
 5632    0
 5633    0
 Name: churn, Length: 4884, dtype: int64,
         id  gender  senior_citizen partner dependents  tenure phone_service    multiple_lines internet_service      online_security  ...    device_protection         tech_support         streaming_tv     streaming_movies        contract paperless_billing             payment_method monthly_charges  total_charges  churn
 2     6479  Female               0     Yes         No    60.0           Yes               Yes      Fiber optic                   No  ...                  Yes                  Yes                  Yes                  Yes        Two year               Yes    Credit card (automatic)          110.80        6640.70      0
 3     6861  Female               0      No         No    37.0           Yes               Yes      Fiber optic                   No  ...                  Yes                   No                  Yes                  Yes  Month-to-month               Yes  Bank transfer (automatic)          101.90        3545.35      1
 4     3266    Male               0     Yes        Yes    29.0           Yes                No      Fiber optic                   No  ...                   No                   No                   No                   No  Month-to-month               Yes           Electronic check           70.75        1974.80      1
 5     6368    Male               0      No         No    70.0            No  No phone service              DSL                  Yes  ...                  Yes                  Yes                   No                  Yes        Two year                No  Bank transfer (automatic)           48.40        3442.80      0
 6     5830    Male               0     Yes        Yes    31.0            No  No phone service              DSL                  Yes  ...                  Yes                  Yes                  Yes                  Yes        One year                No           Electronic check           59.95        1848.80      0
 ...    ...     ...             ...     ...        ...     ...           ...               ...              ...                  ...  ...                  ...                  ...                  ...                  ...             ...               ...                        ...             ...            ...    ...
 5628   946  Female               0      No         No     3.0           Yes               Yes      Fiber optic                   No  ...                   No                   No                   No                   No  Month-to-month                No  Bank transfer (automatic)           74.40         215.80      1
 5629  6684    Male               0      No         No    43.0            No  No phone service              DSL                   No  ...                  Yes                  Yes                   No                  Yes        One year                No           Electronic check           44.15        1931.30      0
 5631  4803  Female               0      No         No    28.0           Yes                No              DSL                   No  ...                   No                  Yes                   No                   No  Month-to-month                No  Bank transfer (automatic)           54.65        1517.50      0
 5632  6317    Male               0     Yes        Yes    63.0           Yes               Yes               No  No internet service  ...  No internet service  No internet service  No internet service  No internet service        Two year                No               Mailed check           25.25        1573.05      0
 5633   103    Male               0      No         No    38.0           Yes               Yes      Fiber optic                   No  ...                  Yes                  Yes                  Yes                   No        One year                No  Bank transfer (automatic)           95.00        3605.60      0

 [4884 rows x 21 columns],
 Pipeline(memory=None, steps=[('empty_step', 'passthrough')], verbose=False),
           id  tenure  monthly_charges  total_charges  gender_Male  senior_citizen_1  partner_Yes  dependents_Yes  phone_service_No  multiple_lines_No  ...  streaming_movies_No  streaming_movies_Yes  contract_Month-to-month  contract_One year  contract_Two year  paperless_billing_No  payment_method_Bank transfer (automatic)  payment_method_Credit card (automatic)  payment_method_Electronic check  payment_method_Mailed check
 4190  2158.0    51.0       106.800003    5498.799805          1.0               0.0          1.0             0.0               0.0                0.0  ...                  0.0                   1.0                      0.0                1.0                0.0                   0.0                                       1.0                                     0.0                              0.0                          0.0
 3119  1950.0    67.0       104.599998    6885.750000          1.0               0.0          1.0             1.0               0.0                0.0  ...                  0.0                   1.0                      0.0                0.0                1.0                   1.0                                       1.0                                     0.0                              0.0                          0.0
 2144  5002.0    19.0        55.000000    1046.500000          1.0               0.0          0.0             0.0               0.0                1.0  ...                  1.0                   0.0                      1.0                0.0                0.0                   0.0                                       0.0                                     1.0                              0.0                          0.0
 5014  2022.0    62.0       108.150002    6825.649902          1.0               0.0          1.0             1.0               0.0                1.0  ...                  0.0                   1.0                      0.0                0.0                1.0                   1.0                                       0.0                                     0.0                              0.0                          1.0
 1608  1426.0    12.0        74.150002     741.400024          1.0               0.0          1.0             0.0               0.0                1.0  ...                  0.0                   1.0                      1.0                0.0                0.0                   0.0                                       0.0                                     0.0                              1.0                          0.0
 ...      ...     ...              ...            ...          ...               ...          ...             ...               ...                ...  ...                  ...                   ...                      ...                ...                ...                   ...                                       ...                                     ...                              ...                          ...
 2010  2218.0    66.0        89.900002    5958.850098          0.0               0.0          1.0             1.0               0.0                0.0  ...                  0.0                   1.0                      0.0                0.0                1.0                   1.0                                       0.0                                     1.0                              0.0                          0.0
 3630  4645.0    13.0        50.549999     610.750000          1.0               0.0          0.0             0.0               0.0                1.0  ...                  1.0                   0.0                      1.0                0.0                0.0                   0.0                                       0.0                                     0.0                              0.0                          1.0
 1498   350.0    64.0        97.000000    6430.899902          0.0               1.0          1.0             0.0               0.0                1.0  ...                  0.0                   1.0                      0.0                1.0                0.0                   1.0                                       1.0                                     0.0                              0.0                          0.0
 226    201.0    27.0       101.900002    2681.149902          0.0               0.0          1.0             0.0               0.0                1.0  ...                  0.0                   1.0                      0.0                1.0                0.0                   0.0                                       0.0                                     1.0                              0.0                          0.0
 1246  1080.0     3.0        69.550003     200.199997          0.0               0.0          1.0             1.0               0.0                1.0  ...                  1.0                   0.0                      1.0                0.0                0.0                   0.0                                       0.0                                     0.0                              1.0                          0.0

 [1466 rows x 33 columns],
 <MLUsecase.CLASSIFICATION: 1>,
 {'acc': <pycaret.containers.metrics.classification.AccuracyMetricContainer at 0x22b02e5c5e0>,
  'auc': <pycaret.containers.metrics.classification.ROCAUCMetricContainer at 0x22b02e5c640>,
  'recall': <pycaret.containers.metrics.classification.RecallMetricContainer at 0x22b02e5c6d0>,
  'precision': <pycaret.containers.metrics.classification.PrecisionMetricContainer at 0x22b02e5c820>,
  'f1': <pycaret.containers.metrics.classification.F1MetricContainer at 0x22b02e5c970>,
  'kappa': <pycaret.containers.metrics.classification.KappaMetricContainer at 0x22b02e5cac0>,
  'mcc': <pycaret.containers.metrics.classification.MCCMetricContainer at 0x22b02e5cb50>},
 True,
 [],
 {'lr': <pycaret.containers.models.classification.LogisticRegressionClassifierContainer at 0x22b02e2cca0>,
  'knn': <pycaret.containers.models.classification.KNeighborsClassifierContainer at 0x22b02e2cdf0>,
  'nb': <pycaret.containers.models.classification.GaussianNBClassifierContainer at 0x22b02e2ce50>,
  'dt': <pycaret.containers.models.classification.DecisionTreeClassifierContainer at 0x22b02e2f070>,
  'svm': <pycaret.containers.models.classification.SGDClassifierContainer at 0x22b02e2f0a0>,
  'rbfsvm': <pycaret.containers.models.classification.SVCClassifierContainer at 0x22b02e2f610>,
  'gpc': <pycaret.containers.models.classification.GaussianProcessClassifierContainer at 0x22b02e2f760>,
  'mlp': <pycaret.containers.models.classification.MLPClassifierContainer at 0x22b02e2f820>,
  'ridge': <pycaret.containers.models.classification.RidgeClassifierContainer at 0x22b02e2fac0>,
  'rf': <pycaret.containers.models.classification.RandomForestClassifierContainer at 0x22b02e2fca0>,
  'qda': <pycaret.containers.models.classification.QuadraticDiscriminantAnalysisContainer at 0x22b02e2feb0>,
  'ada': <pycaret.containers.models.classification.AdaBoostClassifierContainer at 0x22b02e76280>,
  'gbc': <pycaret.containers.models.classification.GradientBoostingClassifierContainer at 0x22b02e76400>,
  'lda': <pycaret.containers.models.classification.LinearDiscriminantAnalysisContainer at 0x22b02e76460>,
  'et': <pycaret.containers.models.classification.ExtraTreesClassifierContainer at 0x22b02e768e0>,
  'lightgbm': <pycaret.containers.models.classification.LGBMClassifierContainer at 0x22b02e76e80>,
  'dummy': <pycaret.containers.models.classification.DummyClassifierContainer at 0x22b02e5c2e0>,
  'Bagging': <pycaret.containers.models.classification.BaggingClassifierContainer at 0x22b02e76940>,
  'Stacking': <pycaret.containers.models.classification.StackingClassifierContainer at 0x22b02e5c490>,
  'Voting': <pycaret.containers.models.classification.VotingClassifierContainer at 0x22b02e5c520>,
  'CalibratedCV': <pycaret.containers.models.classification.CalibratedClassifierCVContainer at 0x22b02e5c580>},
 'lightgbm',
 {'lr': <pycaret.containers.models.classification.LogisticRegressionClassifierContainer at 0x22b01d59310>,
  'knn': <pycaret.containers.models.classification.KNeighborsClassifierContainer at 0x22b01d5e160>,
  'nb': <pycaret.containers.models.classification.GaussianNBClassifierContainer at 0x22b01d5efa0>,
  'dt': <pycaret.containers.models.classification.DecisionTreeClassifierContainer at 0x22b01d3abe0>,
  'svm': <pycaret.containers.models.classification.SGDClassifierContainer at 0x22b01d3aac0>,
  'rbfsvm': <pycaret.containers.models.classification.SVCClassifierContainer at 0x22b02d9e160>,
  'gpc': <pycaret.containers.models.classification.GaussianProcessClassifierContainer at 0x22b02d9e280>,
  'mlp': <pycaret.containers.models.classification.MLPClassifierContainer at 0x22b02d9e340>,
  'ridge': <pycaret.containers.models.classification.RidgeClassifierContainer at 0x22b01d31bb0>,
  'rf': <pycaret.containers.models.classification.RandomForestClassifierContainer at 0x22b01d31d30>,
  'qda': <pycaret.containers.models.classification.QuadraticDiscriminantAnalysisContainer at 0x22b01d31f40>,
  'ada': <pycaret.containers.models.classification.AdaBoostClassifierContainer at 0x22b02e01250>,
  'gbc': <pycaret.containers.models.classification.GradientBoostingClassifierContainer at 0x22b02e20be0>,
  'lda': <pycaret.containers.models.classification.LinearDiscriminantAnalysisContainer at 0x22b02e20c70>,
  'et': <pycaret.containers.models.classification.ExtraTreesClassifierContainer at 0x22b02e2c100>,
  'lightgbm': <pycaret.containers.models.classification.LGBMClassifierContainer at 0x22b02e2c5b0>,
  'dummy': <pycaret.containers.models.classification.DummyClassifierContainer at 0x22b02e2c9a0>},
 False,
 None,
 '4619',
 [],
 Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=[],
                                       ml_usecase='classification',
                                       numerical_features=[], target='churn',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_strate...
                 ('scaling', 'passthrough'), ('P_transform', 'passthrough'),
                 ('binn', 'passthrough'), ('rem_outliers', 'passthrough'),
                 ('cluster_all', 'passthrough'),
                 ('dummy', Dummify(target='churn')),
                 ('fix_perfect', Remove_100(target='churn')),
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough')],
          verbose=False),
 {'USI',
  'X',
  'X_test',
  'X_train',
  '_all_metrics',
  '_all_models',
  '_all_models_internal',
  '_available_plots',
  '_gpu_n_jobs_param',
  '_internal_pipeline',
  '_ml_usecase',
  'create_model_container',
  'data_before_preprocess',
  'display_container',
  'exp_name_log',
  'experiment__',
  'fix_imbalance_method_param',
  'fix_imbalance_param',
  'fold_generator',
  'fold_groups_param',
  'fold_groups_param_full',
  'fold_param',
  'fold_shuffle_param',
  'gpu_param',
  'html_param',
  'imputation_classifier',
  'imputation_regressor',
  'iterative_imputation_iters_param',
  'log_plots_param',
  'logging_param',
  'master_model_container',
  'n_jobs_param',
  'prep_pipe',
  'pycaret_globals',
  'seed',
  'stratify_param',
  'target_param',
  'transform_target_method_param',
  'transform_target_param',
  'y',
  'y_test',
  'y_train'},
 5,
 {'parameter': 'Hyperparameters',
  'auc': 'AUC',
  'confusion_matrix': 'Confusion Matrix',
  'threshold': 'Threshold',
  'pr': 'Precision Recall',
  'error': 'Prediction Error',
  'class_report': 'Class Report',
  'rfe': 'Feature Selection',
  'learning': 'Learning Curve',
  'manifold': 'Manifold Learning',
  'calibration': 'Calibration Curve',
  'vc': 'Validation Curve',
  'dimension': 'Dimensions',
  'feature': 'Feature Importance',
  'feature_all': 'Feature Importance (All)',
  'boundary': 'Decision Boundary',
  'lift': 'Lift Chart',
  'gain': 'Gain Chart',
  'tree': 'Decision Tree',
  'ks': 'KS Statistic Plot'},
 False,
 -1,
 10,
 False,
 'box-cox',
           id  tenure  monthly_charges  total_charges  gender_Male  senior_citizen_1  partner_Yes  dependents_Yes  phone_service_No  multiple_lines_No  ...  streaming_movies_No  streaming_movies_Yes  contract_Month-to-month  contract_One year  contract_Two year  paperless_billing_No  payment_method_Bank transfer (automatic)  payment_method_Credit card (automatic)  payment_method_Electronic check  payment_method_Mailed check
 2     6479.0    60.0       110.800003    6640.700195          0.0               0.0          1.0             0.0               0.0                0.0  ...                  0.0                   1.0                      0.0                0.0                1.0                   0.0                                       0.0                                     1.0                              0.0                          0.0
 3     6861.0    37.0       101.900002    3545.350098          0.0               0.0          0.0             0.0               0.0                0.0  ...                  0.0                   1.0                      1.0                0.0                0.0                   0.0                                       1.0                                     0.0                              0.0                          0.0
 4     3266.0    29.0        70.750000    1974.800049          1.0               0.0          1.0             1.0               0.0                1.0  ...                  1.0                   0.0                      1.0                0.0                0.0                   0.0                                       0.0                                     0.0                              1.0                          0.0
 5     6368.0    70.0        48.400002    3442.800049          1.0               0.0          0.0             0.0               1.0                0.0  ...                  0.0                   1.0                      0.0                0.0                1.0                   1.0                                       1.0                                     0.0                              0.0                          0.0
 6     5830.0    31.0        59.950001    1848.800049          1.0               0.0          1.0             1.0               1.0                0.0  ...                  0.0                   1.0                      0.0                1.0                0.0                   1.0                                       0.0                                     0.0                              1.0                          0.0
 ...      ...     ...              ...            ...          ...               ...          ...             ...               ...                ...  ...                  ...                   ...                      ...                ...                ...                   ...                                       ...                                     ...                              ...                          ...

In [17]:
best_model = compare_models(n_select=5)

In [18]:
len(df1.loc[df1['churn']==0])/len(df1)

0.7391482391482391

In [19]:
t = tune_model(best_model[0])

In [20]:
final_model = finalize_model(t)

In [21]:
predict = predict_model(final_model, df_test)
predict

        id  gender  senior_citizen partner dependents  tenure phone_service    multiple_lines internet_service      online_security  ...         tech_support         streaming_tv     streaming_movies        contract paperless_billing             payment_method monthly_charges total_charges  Label   Score
0     5027    Male               0     Yes        Yes    23.0           Yes                No               No  No internet service  ...  No internet service  No internet service  No internet service        One year               Yes    Credit card (automatic)           20.00        445.30      0  0.9400
1     1733    Male               1     Yes        Yes    61.0           Yes               Yes      Fiber optic                   No  ...                   No                  Yes                  Yes        One year                No                        NaN           99.00       5969.30      0  0.8760
2     5384    Male               0      No         No    36.0           Yes               Yes      Fiber optic                   No  ...                   No                   No                  Yes  Month-to-month               Yes           Electronic check           84.75       3050.15      1  0.5329
3     6554  Female               0     Yes        Yes    61.0            No  No phone service              DSL                   No  ...                  Yes                  Yes                  Yes        Two year               Yes  Bank transfer (automatic)           61.45       3751.15      0  0.9684
4      364  Female               0      No         No    47.0           Yes                No               No  No internet service  ...  No internet service  No internet service  No internet service        Two year               Yes               Mailed check           20.55        945.70      0  0.9879
...    ...     ...             ...     ...        ...     ...           ...               ...              ...                  ...  ...                  ...                  ...                  ...             ...               ...                        ...             ...           ...    ...     ...
1404  4897    Male               0      No        NaN    24.0           Yes                No              DSL                   No  ...                   No                   No                   No  Month-to-month               Yes               Mailed check           49.70       1167.80      0  0.8513
1405  6940    Male               0      No         No    35.0           Yes                No      Fiber optic                  Yes  ...                  Yes                   No                  Yes        One year               Yes           Electronic check           89.20       3251.30      0  0.7871
1406   804  Female               0     Yes         No    46.0           Yes                No              DSL                   No  ...                  Yes                  Yes                   No        Two year               Yes    Credit card (automatic)           64.20       3009.50      0  0.9636
1407  1143    Male               1     Yes        Yes    11.0           Yes               Yes      Fiber optic                   No  ...                   No                   No                   No  Month-to-month               Yes    Credit card (automatic)           75.20        775.30      1  0.5715
1408  5773    Male               0     Yes        Yes    69.0           Yes               Yes              DSL                   No  ...                  Yes                  Yes                  Yes        Two year               Yes  Bank transfer (automatic)           81.95       5601.40      0  0.9743

[1409 rows x 22 columns]

In [22]:
len(predict.loc[predict['Label']==0])

1116

In [23]:
len(predict.loc[predict['Label']==1])

293

# Model w/ Neural Network MLP

In [37]:
df2 = df1.copy()
df2_dummy = pd.get_dummies(df2.drop(['id', 'churn'], axis=1))
df2 = pd.concat([df2[['id', 'churn']], df2_dummy], axis=1)

In [38]:
X = df2.drop(['id', 'churn'], axis=1)
y = df2['churn'].copy()

In [39]:
#training and test dataset
X_train, X_test, y_train, y_test = ms.train_test_split(X, y, test_size=0.2, random_state=32)

In [47]:
y_train_nn = y_train.values.reshape(-1, 1)

In [49]:
#model definition
model = ml.Sequential()
model.add(l.Dense(128, input_dim=X_train.shape[1], activation='relu'))
model.add(l.Dense(11, activation='softmax'))

#model compile
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

#train model
model.fit(X_train, y_train_nn, epochs=100)

Epoch 1/100

ValueError: in user code:

    File "C:\Users\Giovana\anaconda3\lib\site-packages\keras\engine\training.py", line 1021, in train_function  *
        return step_function(self, iterator)
    File "C:\Users\Giovana\anaconda3\lib\site-packages\keras\engine\training.py", line 1010, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "C:\Users\Giovana\anaconda3\lib\site-packages\keras\engine\training.py", line 1000, in run_step  **
        outputs = model.train_step(data)
    File "C:\Users\Giovana\anaconda3\lib\site-packages\keras\engine\training.py", line 860, in train_step
        loss = self.compute_loss(x, y, y_pred, sample_weight)
    File "C:\Users\Giovana\anaconda3\lib\site-packages\keras\engine\training.py", line 918, in compute_loss
        return self.compiled_loss(
    File "C:\Users\Giovana\anaconda3\lib\site-packages\keras\engine\compile_utils.py", line 201, in __call__
        loss_value = loss_obj(y_t, y_p, sample_weight=sw)
    File "C:\Users\Giovana\anaconda3\lib\site-packages\keras\losses.py", line 141, in __call__
        losses = call_fn(y_true, y_pred)
    File "C:\Users\Giovana\anaconda3\lib\site-packages\keras\losses.py", line 245, in call  **
        return ag_fn(y_true, y_pred, **self._fn_kwargs)
    File "C:\Users\Giovana\anaconda3\lib\site-packages\keras\losses.py", line 1789, in categorical_crossentropy
        return backend.categorical_crossentropy(
    File "C:\Users\Giovana\anaconda3\lib\site-packages\keras\backend.py", line 5083, in categorical_crossentropy
        target.shape.assert_is_compatible_with(output.shape)

    ValueError: Shapes (None, 1) and (None, 11) are incompatible